@import "../utils/variables.css";

.root {
  background-color: var(--main-blue-color);
  color: var(--main-white-color);
}

.root a {
  color: var(--main-white-color);
  text-decoration: none;
}

.root a:hover {
  opacity: 0.6;
}

.root a:hover h1 {
  opacity: 0.6;
}
